fastapi
uvicorn
python-multipart
pillow
pygame
flask
numpy
tensorflow
librosa
ffmpeg-python
scipy
tqdm
absl-py
lazy-loader
ml-dtypes
typing-extensions
wrapt
six
gast
astunparse
protobuf
mlflow
optuna
